In [1]:
## importing libraries

import pandas as pd
import numpy as np
import time
from datetime import datetime

In [2]:
## importing BTC tweets csv
df_BTCtweets = pd.read_csv (r"C:\Users\nldersj1\OneDrive - EY\Documents\Ironhack\tweets_BTC.csv")

In [3]:
#check import
df_BTCtweets.head()

,Unnamed: 0,0,1,2
0,0,2021-08-23 19:03:09,1429881915167977475,Unless you swing trade #Bitcoin shut the fuck ...
1,1,2021-08-23 19:03:08,1429881911036551173,RT @BTCTN: The Swedish government must return ...
2,2,2021-08-23 19:03:07,1429881907991429124,RT @airdropinspect: New airdrop: TroyTrade New...
3,3,2021-08-23 19:03:07,1429881907114876930,RT @BigCheds: $BTC #Bitcoin
4,4,2021-08-23 19:03:07,1429881906963927040,햌쮏얧쮏쒫썜 햠햟향햟 햦햩쮏웷왏쫧쟴 @Sentinel_co $dVPN 쮏...

In [4]:
## change column names
df_BTCtweets.columns = ['Id','Date', 'Code', 'Tweet']

In [5]:
#check name change
df_BTCtweets.head()

,Id,Date,Code,Tweet
0,0,2021-08-23 19:03:09,1429881915167977475,Unless you swing trade #Bitcoin shut the fuck ...
1,1,2021-08-23 19:03:08,1429881911036551173,RT @BTCTN: The Swedish government must return ...
2,2,2021-08-23 19:03:07,1429881907991429124,RT @airdropinspect: New airdrop: TroyTrade New...
3,3,2021-08-23 19:03:07,1429881907114876930,RT @BigCheds: $BTC #Bitcoin
4,4,2021-08-23 19:03:07,1429881906963927040,햌쮏얧쮏쒫썜 햠햟향햟 햦햩쮏웷왏쫧쟴 @Sentinel_co $dVPN 쮏...

In [6]:
# change to datetime
df_BTCtweets.Date = pd.to_datetime(df_BTCtweets.Date)

In [7]:
# check if change worked
df_BTCtweets.dtypes

Id                int64
Date     datetime64[ns]
Code              int64
Tweet            object
dtype: object

In [8]:
# create a count column
df_BTCtweets["Tweetcount"] = 1

In [9]:
# check if worked
df_BTCtweets.tail()

,Id,Date,Code,Tweet,Tweetcount
9995,9995,2021-08-23 18:08:32,1429868172157538307,"WAX, Gnosis and IOST pack on gains after Bitco...",1
9996,9996,2021-08-23 18:08:31,1429868169414397962,RT @NftSocial: Just the beginning... Platform ...,1
9997,9997,2021-08-23 18:08:31,1429868169011908619,RT @oytun86: Madem uzun bir aradan sonra Bitco...,1
9998,9998,2021-08-23 18:08:31,1429868168265228293,"If bitcoin was actually valuable, wouldn't @Nv...",1
9999,9999,2021-08-23 18:08:31,1429868166600019991,RT @RBroughton180: $5000 Giveaway 游땵游땵游똂\n\nIf #B...,1

### Count of tweets

In [10]:
# create group by of count
times = pd.to_datetime(df_BTCtweets.Date)
grouped_dfBTCtweets = df_BTCtweets.groupby([times.dt.day, times.dt.hour, times.dt.minute]).Tweetcount.sum()

In [11]:
# check if worked
grouped_dfBTCtweets

Date  Date  Date
23    18    8        78
            9       194
            10      194
            11      152
            12      190
            13      171
            14      205
            15      193
            16      197
            17      168
            18      171
            19      154
            20      186
            21      180
            22      206
            23      173
            24      179
            25      193
            26      165
            27      180
            28      168
            29      173
            30      213
            31      188
            32      185
            33      202
            34      188
            35      211
            36      196
            37      193
            38      163
            39      198
            40      197
            41      177
            42      167
            43      167
            44      164
            45      184
            46      167
            47      179
            48      177
            49      155
            50      160
            51      182
            52      182
            53      196
            54      200
            55      168
            56      153
            57      194
            58      165
            59      194
      19    0       265
            1       188
            2       178
            3        34
Name: Tweetcount, dtype: int64

In [12]:
# create dataframe of groupby
grouped_dfBTCtweets = pd.DataFrame(grouped_dfBTCtweets)

In [14]:
# create index
grouped_dfBTCtweets.insert(0, 'ID', range(0, 56))

In [15]:
# check
grouped_dfBTCtweets.head()

                ID  Tweetcount
Date Date Date
23   18   8      0          78
          9      1         194
          10     2         194
          11     3         152
          12     4         190

### Sentiment analysis

In [16]:
# import library
from textblob import TextBlob

In [18]:
# apply sentiment
df_BTCtweets['Sentiment']=df_BTCtweets['Tweet'].apply(lambda x: TextBlob(x).sentiment.polarity)

In [19]:
# check 
df_BTCtweets.head()

,Id,Date,Code,Tweet,Tweetcount,Sentiment
0,0,2021-08-23 19:03:09,1429881915167977475,Unless you swing trade #Bitcoin shut the fuck ...,1,-0.400000
1,1,2021-08-23 19:03:08,1429881911036551173,RT @BTCTN: The Swedish government must return ...,1,0.350000
2,2,2021-08-23 19:03:07,1429881907991429124,RT @airdropinspect: New airdrop: TroyTrade New...,1,0.018182
3,3,2021-08-23 19:03:07,1429881907114876930,RT @BigCheds: $BTC #Bitcoin,1,0.000000
4,4,2021-08-23 19:03:07,1429881906963927040,햌쮏얧쮏쒫썜 햠햟향햟 햦햩쮏웷왏쫧쟴 @Sentinel_co $dVPN 쮏...,1,0.000000

In [20]:
# calculate mean
df_BTCtweets['Sentiment'].mean()

0.07761720103022028

In [21]:
# group by function for average sentiment
grouped_dfBTCtweets2 = df_BTCtweets.groupby([times.dt.day, times.dt.hour, times.dt.minute]).Sentiment.mean()

In [22]:
# check 
grouped_dfBTCtweets2

Date  Date  Date
23    18    8       0.062761
            9       0.065803
            10      0.078320
            11      0.085463
            12      0.073699
            13      0.077988
            14      0.061925
            15      0.044412
            16      0.073516
            17      0.095684
            18      0.056242
            19      0.065935
            20      0.083244
            21      0.081533
            22      0.066749
            23      0.114963
            24      0.122656
            25      0.049043
            26      0.084486
            27      0.092117
            28      0.092145
            29      0.062308
            30      0.029838
            31      0.081626
            32      0.081437
            33      0.065236
            34      0.122430
            35      0.075073
            36      0.084843
            37      0.092961
            38      0.075102
            39      0.079328
            40      0.074929
            41      0.052644
            42      0.076760
            43      0.088144
            44      0.080181
            45      0.109418
            46      0.105341
            47      0.093934
            48      0.071654
            49      0.093330
            50      0.083837
            51      0.093444
            52      0.070922
            53      0.071666
            54      0.091594
            55      0.059058
            56      0.080698
            57      0.075479
            58      0.091261
            59      0.074676
      19    0       0.057655
            1       0.050346
            2       0.075235
            3       0.039115
Name: Sentiment, dtype: float64

In [23]:
# create dataframe of groupby
grouped_dfBTCtweets2 = pd.DataFrame(grouped_dfBTCtweets2)

In [24]:
#check
grouped_dfBTCtweets2.head()

                Sentiment
Date Date Date
23   18   8      0.062761
          9      0.065803
          10     0.078320
          11     0.085463
          12     0.073699

In [25]:
# create index
grouped_dfBTCtweets2.insert(0, 'ID', range(0, 56))

In [26]:
grouped_dfBTCtweets2.head()

                ID  Sentiment
Date Date Date
23   18   8      0   0.062761
          9      1   0.065803
          10     2   0.078320
          11     3   0.085463
          12     4   0.073699

### Bitcoin history prices

In [27]:
## importing BTC historic prices tweets csv
df_BTCprice = pd.read_csv (r"C:\Users\nldersj1\OneDrive - EY\Documents\Ironhack\BTCpricedataFinal.csv")

In [28]:
df_BTCprice.tail()

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume
51,1629745140000,2021-08-23 18:59:00,BTCUSD,49477.55,49477.55,49460.00,49469.80,0.122558
52,1629745200000,2021-08-23 19:00:00,BTCUSD,49469.80,49473.69,49412.36,49412.90,0.513412
53,1629745260000,2021-08-23 19:01:00,BTCUSD,49412.90,49416.80,49382.32,49382.32,0.065193
54,1629745320000,2021-08-23 19:02:00,BTCUSD,49382.32,49416.99,49382.32,49416.99,1.217849
55,1629745380000,2021-08-23 19:03:00,BTCUSD,49416.99,49443.33,49255.94,49299.63,3.536890

In [29]:
# create index
df_BTCprice.insert(0, 'ID', range(0, 56))

In [30]:
df_BTCprice.head()

,ID,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume
0,0,1629742080000,2021-08-23 18:08:00,BTCUSD,49458.32,49476.79,49454.92,49476.79,0.648097
1,1,1629742140000,2021-08-23 18:09:00,BTCUSD,49476.79,49499.21,49432.71,49465.53,1.774996
2,2,1629742200000,2021-08-23 18:10:00,BTCUSD,49465.53,49480.58,49458.25,49462.22,0.066821
3,3,1629742260000,2021-08-23 18:11:00,BTCUSD,49462.22,49462.22,49428.58,49431.21,0.309803
4,4,1629742320000,2021-08-23 18:12:00,BTCUSD,49431.21,49447.46,49409.02,49447.37,0.321633

### Concat dataframes

In [31]:
## concat tweetcount and sentiment
df1 = pd.merge(grouped_dfBTCtweets, grouped_dfBTCtweets2, on=['ID',  'ID'])

In [32]:
df1.head()

   ID  Tweetcount  Sentiment
0   0          78   0.062761
1   1         194   0.065803
2   2         194   0.078320
3   3         152   0.085463
4   4         190   0.073699

In [33]:
## concat bitcoin price with sentiment/tweetcount
df_final = pd.merge(df1, df_BTCprice, on =['ID',  'ID'])

In [34]:
df_final.head()

,ID,Tweetcount,Sentiment,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume
0,0,78,0.062761,1629742080000,2021-08-23 18:08:00,BTCUSD,49458.32,49476.79,49454.92,49476.79,0.648097
1,1,194,0.065803,1629742140000,2021-08-23 18:09:00,BTCUSD,49476.79,49499.21,49432.71,49465.53,1.774996
2,2,194,0.078320,1629742200000,2021-08-23 18:10:00,BTCUSD,49465.53,49480.58,49458.25,49462.22,0.066821
3,3,152,0.085463,1629742260000,2021-08-23 18:11:00,BTCUSD,49462.22,49462.22,49428.58,49431.21,0.309803
4,4,190,0.073699,1629742320000,2021-08-23 18:12:00,BTCUSD,49431.21,49447.46,49409.02,49447.37,0.321633

In [36]:
# drop columns used for join
df_final = df_final.drop(columns=['ID', 'ID'])

In [37]:
# export to csv
df_final.to_csv("completedataframe.csv")